# Virtual Environment
venv/

# Python cache
*.pyc
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model checkpoints (optional)
*.ckpt

.streamlit/
.dist/
.agents/
.claude/


streamlit/