# utility
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models

# Required because webrtcvad currently depends on pkg_resources
setuptools==80.10.2

# database
supabase
bcrypt

# tools
segno
pillow

streamlit

# voice pipeline
librosa
resemblyzer
webrtcvad==2.0.10